---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Middleman with GitLab Pages</h1>
  <p class="doc">
    <%= link_to "Built with GitLab Pages", "https://gitlab.com/pages/middleman" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
